<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">
<title th:text="${@environment.getProperty('info.app.name')} + ' - Customer List'">Title</title></head>
<body>
	<div class=container>
		<h3>Customer Directory</h3>
		<hr>
		<div class="d-flex">
			<div class="p-2">
				<div th:replace="fragments/list-fragments :: add-button(Customer)">Add Button</div>
			</div>
			<div class="ml-auto p-2">
				<div th:replace="fragments/list-fragments :: show-by-active-status(Customer)">Show Button</div>
			</div>
		</div>
	
		<div class="alert alert-secondary" role="alert" th:class="${status.status} ? 'alert alert-primary' : 'alert alert-danger'" th:if="${status.isActive()}">
  			<span th:text="${status.msg}">Message</span>
		</div>
		<table id="table-1" class="table table-bordered table-striped">
			<thead class="thead-dark">
				<tr>
					<th>Status</th>
					<th>Firstname</th>
					<th>Lastname</th>
					<th>E-mail</th>
					<th>Address</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="tempCustomer : ${customers}">
					<td th:if="${tempCustomer.isActive}"><span class="badge badge-success">active</span></td>
					<td th:unless="${tempCustomer.isActive}"><span class="badge badge-dark">inactive</span></td>
					<td th:text="${tempCustomer.firstName}" />
					<td th:text="${tempCustomer.lastName}" />
					<td th:text="${tempCustomer.email}" />
					<td th:text="${tempCustomer.address}" />
					<td>
						<div th:replace="fragments/list-fragments :: update-button-dropdown(Customer,${tempCustomer.id},${tempCustomer.isActive})">Update Button</div>
						<th:block sec:authorize="hasRole('ROLE_ADMIN')">
							<div th:replace="fragments/list-fragments :: delete-button(Customer,${tempCustomer.id})">Delete Button</div>
						</th:block>
					</td>
				</tr>
			</tbody>
		</table>
		<div th:replace="fragments/list-fragments :: footer-menu">Footer menu</div>
	</div>
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	
</body>
</html>